<div class="nav-main">
    <a 
        id="nav-item"
        href="/"
    >
        🌎 
    </a>

    <span>MDO CRICKET T10 2022</span>
</div>


<style>
    *{
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        list-style: none;
        text-decoration: none;
    }
    .nav-main{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: none;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid rgb(218, 215, 215);
    }

    #nav-item{
        margin-right: 50px;
        font-size: large;
        color: rgb(77, 76, 76);
        cursor: pointer;
        
    }
</style>